@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nato";
    src: url("./assets/fonts/NotoSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Nato";
    sc: url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Nato";
    src: url("./assets/fonts/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Nato";
    src: url("./assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Nato";
    src: url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Nato";
    src: url("./assets/fonts/NotoSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  html {
    font-family: Nato, system-ui, sans-serif;
    box-sizing: border-box;
  }
  input,
  select {
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  input[type="text"] {
    background-color: rgb(243 244 246);
  }
  /* tr {
    height: 10px;
  }
  
  tr td {
     height: auto !important;
  } */
}

@layer components {
  .open-nav {
    width: 210px;
    transition: all 0.5s;
  }

  .close-nav {
    width: 80px;
    transition: all 0.5s;
  }

  .options-visible {
    opacity: 1;
    transition: opacity 1.5s;
  }

  .options-invisible {
    opacity: 0;
    transition: opacity 0.1s;
  }

  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #D9CFC1;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%,
    100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
}
